#menu-responsive{
   display: flex;
   position: absolute;
    width: 100%;
    height: 100%;
    background-color: #EFEAE6 ;
    flex-direction: column;
     display: none;
     box-shadow: 2px 2px 2px black;
}



.opciones-menu-responsive{
   display: flex;
   width: 100%;
   height: 18%;
   border-top: 1px  #000000 solid;
   border-bottom:1px #000000 solid;
   align-items: center;




}


#contenedor-img-equis{
height: 15%;
border-bottom: 0;
border-top: 0;
justify-content: flex-end;
}

.logo-de-menu-responsive{

width: 70px;
height: 70px;

}


#img-cruz{
   width:50px;
   height: 50px;
   object-fit: contain;
   margin-top: 10px;
   margin-right: 10px;

 
}


#items-navbar{
   justify-content: center;
}


@media (max-width: 767px){
   
   
   #icono-responsive{
      display: flex  !important;
   }


   .icono{
       display: none;
   }


   #contenedor-img-menu{
       display: flex;
       width: 50px;

   }



#img-menu{
   width: 100%; 
 height: 100%;
 object-fit: contain;
}

  main{
   justify-content: center;
   height: 100%;


   #first-div-main{
      width: 100% !important;
      display: flex;
      height: 100%;
    }
   
     #banner{
       width: 100%;
       height: 60%;
    object-fit:cover;
     }
     
   }


}


@media(min-width: 768px) and (max-width: 1199px)  {
    
    #items-navbar{
       justify-content: center;
    }



    #contenedor-img-menu{
        display: flex;
        width: 50px;


    }


 

 #img-menu{
    width: 100%; 
  height: 100%;
  object-fit: contain;
 }


 main{
   justify-content: center;

}

 #banner{
object-fit:cover;
 }

 }






